*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    min-height: 100vh;
    background-color:whitesmoke;
  }

.header{
    top:0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}


.navbar a{
    position: relative;
    font-size: 18px;
    color: black;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a::before{
    content: '';
    position: absolute;
    top:100%;
    left:0;
    width:0;
    height:2px;
    background:black ;
    transition: .5s;
}

.navbar a:hover::before{
    width:100%;
}

.container1{
    margin-top:40px;
    padding-left: 200px;
    padding-right: 200px;
}

p{
    margin-bottom: 20px;
    font-size: 20px;
}

h1 {
    margin-bottom: 30px;
    font-weight: 1000;
    font-size: 40px;
  }