*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


body {
    min-height: 100vh;
    background-color:whitesmoke;
  }

.header{
    top:0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.menu-toggle{
    font-size: 20px;
    display:none;
}

.navbar a{
    position: relative;
    font-size: 18px;
    color: black;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a::before{
    content: '';
    position: absolute;
    top:100%;
    left:0;
    width:0;
    height:2px;
    background:black ;
    transition: .5s;
}

.navbar a:hover::before{
    width:100%;
}

.title{
    margin-top:40px;
    width : 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
}

.title h1 {
    margin-bottom: 30px;
    font-weight: 1000;
    font-size: 40px;
}

.icon_container {
    padding: 5%;    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.social-icons {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.social-icons a {
    display: inline-block;
    padding: 30px;
    width: 100%;
    transition: opacity 0.3s ease, transform 0.3 ease;
}

.social-icons img {
    width: 70px;
    height: 70px;
}
  
.social-icons a:hover img {
    opacity: 0.6;
    transform: scale(1.1);
}
  
.site_footer p{
    text-align: center;
    padding-top:15px;
    padding-bottom: 15px;
    font-size:15px;
    line-height:24px;
    color:#737373;
}

form {
    max-width: 920px;
    margin: 20px auto;
    padding: 20px;
    text-align: left;
    width: 100%;
}

label {
    color: black;
    display: block;
    font-size: 18px;
    font-weight: 540;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.inputs{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

input {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    width: 90%;
    background-color:#dddddd;
    border-width: 0px;
    color: black;
    padding: 8px;
    font-size: 18px;
    box-sizing: border-box;
    border-radius:3px;
}

input:focus{
    background-color: #fff;
    outline: none;
}

textarea{
    margin-top: 10px;
    color: black;
    width: 100%;
    max-width : 100%;
    min-width :100%;
    min-height: 200px;
    font-size: 18px;
    background-color:#dddddd;
    padding: 10px;
    border-width: 0px;
    border-radius:3px;
}

textarea:focus{
    background-color: #fff;
    outline: none;
}

button {
    margin-top: 20px;
    background-color:#000;
    color: white;
    padding: 9px 14px;
    border-width: 0px;
    border-radius: 3px;
    cursor: pointer;
    width:fit-content;
    font-size: 16px;
    transition: .2s all ease-in-out;
    border-bottom: 2px solid transparent;
    outline: none;
}

button:hover{
    background: inherit;
    color: #000;
    border-bottom: 2px solid #000;
    border-radius: 0px;
}

@media only screen and (max-width: 600px) {

    .title{
        width : 85%;
        margin-top:0%;
    }

    .header{
        top:0;
        left: 0;
        width: 100%;
        padding: 10% 10%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 100;
    }
    
    
    .navbar {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 120px;
        right:8%;
        border-radius: 3px;
        background-color: rgba(0,0,0,0.7);
        width: 45%;
        height: 50vh;
    }

    .navbar.show {
        display: flex;
        position: fixed;
    }

    .navbar a {
        margin: 20px;
        color: #fff;
    }

    .menu-toggle{
        font-size: 20px;
        display:block;
    }

    .icon_container {
        padding: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;
        margin:auto;
    }

    .social-icons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin:auto;
    }
    
    .social-icons a {
        display: inline-block;
        padding: 10px;
        width: 100%;
    }

    .social-icons img {
        width: 30px;
        height:30px;
    }

}