*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


body {
    min-height: 100vh;
    background-color:whitesmoke;
  }

.header{
    top:0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}


.navbar a{
    position: relative;
    font-size: 18px;
    color: black;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a::before{
    content: '';
    position: absolute;
    top:100%;
    left:0;
    width:0;
    height:2px;
    background:black ;
    transition: .5s;
}

.navbar a:hover::before{
    width:100%;
}

.title{
    margin-top:40px;
    width : 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
}

.title h1 {
    margin-bottom: 30px;
    font-weight: 1000;
    font-size: 40px;
}

.icon_container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60vh;
    width: 100%;
}

.social-icons {
    display: flex;
    flex-direction: row;
}

/* styles.css */

.social-icons a {
    display: inline-block;
    margin: 10px;
    padding: 30px;
    transition: opacity 0.3s ease, transform 0.3 ease;
  }
  
.social-icons a:hover img {
    opacity: 0.6;
    transform: scale(1.1);
  }
  
.site_footer p{
    text-align: center;
    padding-top:15px;
    padding-bottom: 15px;
    font-size:15px;
    line-height:24px;
    color:#737373;
}

form {
    max-width: 860px; /* Adjust the max-width as needed */
    margin: 20px auto; /* Center the form and add margin top/bottom */
    padding: 20px; /* Add padding to the form */
    text-align: left;
}

label {
    color: black;
    display: block;
    margin-bottom: 10px;
    margin-top:10px;
    margin-bottom:10px;
    font-size: 18px;
    font-weight: 540;
}

input {
    color: black;
    width: 100%; /* Set a fixed width for the input fields (2/3 of the page) */
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 16px;
    font-size: 18px;
    background-color: #fff;
    margin-bottom: 20px;
    border-width: 1px;
    margin-top: 14px;
}
textarea{
    margin-top: 14px;
    color: black;
    max-width : 100%;
    min-width :100%;
    min-height: 200px;
    font-size: 18px;
    background-color: #fff;
    margin-bottom: 20px;
    border-width: 1px;
    padding: 10px;
}
button {
    background-color:#000;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    margin: 20px auto;

}