/* main.css */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    min-height: 100vh;
    background-color:whitesmoke;
  }

.header{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    padding: 8px 100px;
    padding-top:20px;
    background:rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    font-size: 20px;
}


.navbar a{
    position: relative;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a::before{
    content: '';
    position: absolute;
    top:100%;
    left:0;
    width:0;
    height:2px;
    background:#fff ;
    transition: .5s;
}

.navbar a:hover::before{
    width:100%;
}

.container {
    position: relative;
    width: 100%; /* Set the width of your container */
    height: 100vh;
    background-image: url('../images/backgrounds/winter.jpg');
    background-size: cover;
    background-position: center;
  }

.text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white; /* Set the text color */
    font-size: 30px; /* Set the font size */
    text-align: center;
}

.more-button {
    margin-top:20px;
    border-radius: 12px;
    padding: 10px 24px;
    font-size: 20px;
    border:0px;
    transition: all 0.5s;
    cursor: pointer;
    background-color:steelblue;
    color: #fff;
}
  
.more-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
.more-button span:after {
    content: '>>';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
    padding-left:5px;
}
  
.more-button:hover span {
    padding-right: 30px;
}
  
.more-button:hover span:after {
    opacity: 1;
    right: 0;
}

.site_footer p{
    text-align: center;
    padding-top:15px;
    font-size:15px;
    line-height:24px;
    color:#737373;
}

.weather{
    position: absolute;
    top:90%;
    left:5%;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
}

.overlay{
    background: rgba(0, 0, 0, 0.3);
    position: relative;
    width: 100%; /* Set the width of your container */
    height: 100vh;
    width:100%;
    height:100vh;
    overflow: hidden;
}

.snow{
    position:absolute;
    background-image: url('../images/snow.png');
    background-size: cover;
    animation: animationSnow 4s ease-in-out infinite;
}

@keyframes animationSnow{
    0%{
        transform: translate(0,0);
        opacity: 0;
    }
    50%{
        opacity : 1;
    }
    100%{
        opacity :0;
        transform: translate(0px,50vh);
    }
}

.petal{
    position:absolute;
    background-image: url('../images/petal.png');
    background-size: cover;
    width:40%;
    height:40%;
    animation: animationPetal 4s linear infinite;
}

@keyframes animationPetal{
    0%{
        transform: translate(0,0);
        opacity :0%;
    }
    50%{
        opacity : 100%;
    }
    100%{
        opacity :0;
        transform: translate(100px,50vh);
    }
}


.bird {
    position: absolute;
    width: 50px; /* Adjust the width of the bird */
    height: 30px; /* Adjust the height of the bird */
    background-image: url('../images/seagull.png');
    background-size: cover; /* Adjust the color of the bird */
    animation: flyAnimation 8s linear infinite; /* Adjust the duration and other properties */
}

@keyframes flyAnimation {
    0% {
        transform: translate(0, 250px) rotate(45deg);
    }
    25% {
        transform: translate(25vw, 200px) rotate(0deg);
    }
    60% {
        transform: translate(60vw, 250px) rotate(45deg);
    }
    75% {
        transform: translate(75vw, 300px) rotate(60deg);
    }
    100% {
        transform: translate(100vw, 250px) rotate(45deg);
    }
}

.leaf{
    position:absolute;
    background-image: url('../images/leaf.png');
    background-size: cover;
    animation: animationLeaf 4s ease-in-out infinite;
}

@keyframes animationLeaf{
    0%{
        top:0;
        opacity: 0;
    }
    50%{
        opacity : 1;
    }
    100%{
        opacity :0;
        top:80vh;
    }
}


.snoring {
    position: absolute;
    font-size: 24px;
    color:#fff;
    font-weight: bold;
    opacity: 0;
    animation: snoringAnimation 1s forwards;
}

@keyframes snoringAnimation {
    0% {
        opacity: 1;
        transform: translate(0,0) scale(0.5);
    }
    100% {
        opacity: 0;
        transform: translate(50px,-50px) scale(1.5);
    }
}

.paw{
    position:absolute;
    background-image: url('../images/paw.png');
    background-size: cover;
    width:128px;
    height:110px;
    animation: pawAnimation 2s forwards;
}

@keyframes pawAnimation {
    0% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.nut{
    position: absolute;
    font-size: 24px;
    opacity: 0;
    animation: nutAnimation 2s forwards;
}

@keyframes nutAnimation {
    0% {
        opacity: 1;
        transform: translate(0,0);
    }
    100% {
        opacity: 0;
        transform: translate(0,100px);
    }
}

.effect{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: hidden;
}

canvas {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: hidden;
}

.music{
    position: fixed;
    top:85%;
    left:75%;
    overflow: hidden;
    display: block;
}

.messageBox {
    position: fixed;
    top:80%;
    left:5%;
    margin-left: auto;
    margin-right: auto;
    background-color:whitesmoke;
    color: #737373;
    padding: 15px;
    padding-right:20px;
    border-radius: 2px;
    font-size: 15px;
    transition: opacity 1s ease-in-out;
}

.closeButton {
    background-color: transparent;
    color: #737373;
    border: none;
    padding: 0;
    cursor: pointer;
    position: absolute;
    top: 0px;
    right: 5px;
    font-size: 18px;
}