*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


body {
    min-height: 100vh;
    background-color:whitesmoke;
  }

.header{
    top:0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}


.navbar a{
    position: relative;
    font-size: 18px;
    color: black;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a::before{
    content: '';
    position: absolute;
    top:100%;
    left:0;
    width:0;
    height:2px;
    background:black ;
    transition: .5s;
}

.navbar a:hover::before{
    width:100%;
}

.title{
    margin-top:40px;
    width : 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
}

.title h1 {
    margin-bottom: 30px;
    font-weight: 1000;
    font-size: 40px;
}

.box h2{
    font-size:30px;
    margin-bottom:15px;
    margin-top:5px;
}

.box h3{
    font-size:22px;
    margin-bottom:15px;
    margin-top:20px;
}

.box p{
    margin-top:10px;
    margin-bottom: 20px;
    font-size: 20px;
}


.box {
    border-radius: 10px;
    background-color: #fff;
    margin-top:20px;
    padding: 20px;
    width : 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.note p{
    color:#737373;
    font-size: 15px;
}

ul{
    margin-top:10px;
    margin-bottom: 20px;
    font-size: 20px;
    margin-left:20px;
}

.site_footer p{
    text-align: center;
    padding-top:15px;
    padding-bottom: 15px;
    font-size:15px;
    line-height:24px;
    color:#737373;
}

.scroll-container {
    background-color: white;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    margin-top:20px;
    margin-bottom:20px;
    width:800px
  }
  
.scroll-container img {
    padding: 10px;
    height:420px;
  }

.media{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    padding: auto;
}
.media img{
    width : 75%;
}
.media video{
    width : 75%;
}
